body{background-color: #6E6E3D;}
#continente{
    display: flex;
    justify-content: center;
}
#display {
    border:2px solid #ff8c00 ;
    display: inline-block;
    border-radius: 5%;
    height: 180px;
    min-width: 180px;
    margin-top: 200px;
    padding-right: 10px;
    color: #eeeee4;
    font-size: 160px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#botones {
    display: flex;
    height: 40px;
    width:270px;
    margin: auto;
    justify-content: space-between;
    margin-top: 10px;
}
button{
    height: 40px;
    width: 64px;
    border-radius: 10%;
    border: 1px solid #ff8c00;
    color: #eeeee4;
    font-size: 25px;
}
.contadores {
    background-color:#ff8c00;
    color: #eeeee4;
    font-size: 25px;
}
.reset {
    background-color: #6E6E3D;
    border: 2px solid #ff8c00;
    color: #ff8c00;
}

button:hover {
    height: 42px;
    width: 66px;
    border-radius: 10%;
    border: 1px solid #ff8c00;
    color: #eeeee4;
    font-size: 25px;
    margin: -1px -1px;
}

button:active { 

    border-radius: 10%;
    border: 1px solid #ff8c00;
    color: #eeeee4;
    font-size: 25px;
    scale: -95%
}

.reset:hover{
    background-color: #6E6E3D;
    border: 2px solid #ff8c00;
    color: #ff8c00;
    
}